<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-5">
	
	
	<div class="background" th:style="'background-image:url('+ @{/img/background01.png} +');'">
		
	
		<div class="mainPage">
			<div>
				<div class="introduceTitle">서울 둘레길 코스</div><br><br>
				<a class="maincourse" href="/home/course/course1">
					<img th:src="@{/img/map_ico01.png}" />&nbsp;&nbsp;수락 - 불암산<br>
				</a>	

				<a class="maincourse" href="/home/course/course2">
					<img th:src="@{/img/map_ico02.png}" />&nbsp;&nbsp;용마 - 아차산<br>
				</a>
				<a class="maincourse" href="/home/course/course3">
					<img th:src="@{/img/map_ico03.png}" />&nbsp;&nbsp;고덕 - 일자산<br>	
				</a>
				<a class="maincourse" href="/home/course/course4">		
					<img th:src="@{/img/map_ico04.png}" />&nbsp;&nbsp;대모 - 우면산<br>	
				</a>
				<a class="maincourse" href="/home/course/course5">					
					<img th:src="@{/img/map_ico05.png}" />&nbsp;&nbsp;관악 - 호암산<br>
				</a>
				<a class="maincourse" href="/home/course/course6">				
					<img th:src="@{/img/map_ico06.png}" />&nbsp;&nbsp;안양천 - 한강<br>
				</a>
				<a class="maincourse" href="/home/course/course7">				
					<img th:src="@{/img/map_ico07.png}" />&nbsp;&nbsp;봉산 - 앵봉산<br>
				</a>
				<a class="maincourse" href="/home/course/course8">				
					<img th:src="@{/img/map_ico08.png}" />&nbsp;&nbsp;북한 - 도봉산<br>
				</a>
			</div>
			
			<div>
				<img th:src="@{/img/new2021_map2.jpg}" />
			</div>
		</div>
		
		
	</div>
	
	
	
	
</div>

</html>