
<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-5">
	
	<div>
		<div class="introduceTitle">서울 둘레길은?</div><br><br><hr>
		<div>서울을 한 바퀴 휘감는 총 연장 156.5km의 서울둘레길은 8개 코스로 서울의 역사, 문화, 자연생태 등을 스토리로 엮어 국내외 탐방객들이 느끼고, 배우고, 체험할 수 있도록 조성한 도보길입니다.</div>
		<div>서울둘레길은 ‘숲길’, ‘하천길’, ‘마을길’로 구성되어 있습니다.</div>
		<div>둘레길 곳곳에 휴게시설과 북카페, 쉼터를 만들어 시민들이 자연스럽게 휴식을 취할 수 있게 했고, 전통 깊은 사찰과 유적지을 연결해 서울의 역사와 문화, 자연생태를 곳곳에서 체험할 수 있도록 조성하였습니다.</div>
		<div>대중교통으로도 접근하기 쉬우며 주로 경사가 심하지 않은 흙길로 되어 있어 누구나 안전하고 편안하게 이용할 수 있습니다.</div><br><br>
		<div class="SceneryImg">
			<img th:src="@{/img/1.jpg}" />
		</div>
		<br><br><br><br>
			<div>
				<div class="introduceTitle">조성 방향</div><br><br>
				<div>사람을 위한 길, 자연을 위한 길, 산책하는 길, 이야기가 있는 길</div><hr>
			</div>
			<div class="content2">
				<div>
					<h5 class="subtitle">사람을 위한 길</h5>
					<img th:src="@{/img/2.jpg}" /><br><br>
					<p class="content">• 경사가 심하지 않은 길</p>
					<p class="content">• 안전하고 편안하고 쾌적한 길(노면정비, 안전난간 등)</p>
					<p class="content">• 건강과 휴양을 도모하는 길(양호한 숲, 산림욕장 등 경유)</p>
					<p class="content">• 주택가로부터 200m 이상 떨어진 길(주변주민 생활불편 예방)</p>
					<br>
				</div>
				<div>
					<h5 class="subtitle">자연을 위한 길(숲으로 숲을 치유)</h5>
					<img th:src="@{/img/3.jpg}" /><br><br>
					<p class="content">• 가능한 기존 등산로만 연결하여 흙길로 조성</p>
					<p class="content">• 사용하지 않는 샛길은 적극적인 폐쇄, 훼손된 등산로 복원</p>
					<p class="content">• 수목 식재 필요할 경우 해당지역 자생 산림수종 선정</p>
					<p class="content">• 콘크리트·철제·방부목재·로프 사용 지양, 현장소재 활용</p>
					<P class="content">&nbsp;&nbsp;(쓰러진 아까시나무 활용)</P>
				</div>
			</div>
			<br>
			<div class="content2">
				<div>
					<h5 class="subtitle">산책하는 길</h5>
					<img th:src="@{/img/4.jpg}" /><br><br>
					<p class="content">• 가능한 수평, 옆으로 걷는 자락길, 산책길</p>
					<p class="content">• 불필요한 계단설치 최대한 배제</p>
					<p class="content">• 만나고, 산책하고, 소통하고, 휴식하는 길</p>
					<p class="content">&nbsp;&nbsp;(숲속 북카페, 숲이 좋은 곳에 휴게시설, 전망 좋은 곳에 쉼터)</p>
				</div>
				<div>
					<h5 class="subtitle">이야기가 있는 길</h5>
					<img th:src="@{/img/5.jpg}" /><br><br>
					<p class="content">• 자연과 역사와 문화를 배우고 느낄 수 있는 길</p>
					<p class="content">• (전통 깊은 사찰, 유적지, 문화유산, 역사유물 등 경유)</p>
					<p class="content">&nbsp;&nbsp;둘레길에 숨겨져 있는 전설, 이야기 등 발굴</p>
					<br>
				</div>
			</div>
			<br><br><br><br>
			<div>
				<div class="introduceTitle">사업 개요</div><br><br><hr>
			</div>
			<br><br>
			<div class="mainPage">
				<div>
					<p class="content">• 위 치 : 서울의 외곽산, 하천, 마을길 연결</p>
					<p class="content">• 연 장 : 8개 코스 156.5km</p>
					<p class="content">• 개 통 : 2014. 11. 15(토)</p>
					<p class="content">• ※ 사업기간 : 2009년 5월 ~ 2014년 11월</p>
					<p class="content">• 사업내용 :숲길 84.5km, 마을길 40km, 하천길 32km</p>
					<br><br><br><br><br><br><br><br>
				</div>
				<div>
					<img th:src="@{/img/new2021_map.jpg}" />
				</div>
			</div>
		
		
	
		<br><br>
		<div class="introduceTitle">자주묻는 질문</div><br><br><hr>
		<ul class="qna">
	            <li>
	                <input type="checkbox" id="qna-1">
	                <label for="qna-1">서울에는 몇 개의 둘레길 코스가 있나요?</label>
	                <div>
						<br>
	                    <p>서울에는 총 8개의 둘레길 코스가 있습니다. 코스별 거리와 소요시간, 난이도 등 자세한 사항은 아래 링크에서 확인할 수 있습니다.</p><br>
	                    <a th:href="@{/home/course}">서울 둘레길 코스 정보 알아보기</a>
	                </div>
	            </li>
	            <li>
	                <input type="checkbox" id="qna-2">
	                <label for="qna-2">서울 둘레길 안내지도와 스탬프북은 어디서 받을 수 있나요?</label>
	                <div>
						<br>
	                    <p>총 5곳의 배부처에서 안내지도와 스탬프북을 받을 수 있습니다. (2022년 기준)</p><br>
	                    <p>• 서울둘레길 창포원 안내센터 (02-779-7902~4)</p>
	                    <p>• 서울시청 1층 열린민원 (02-2133-7904~5)</p>
	                    <p>• 서울둘레길 양제 안내센터 (070-4465-7905)</p>
	                    <p>• 아차산 관리사무소 (02-450-1655)</p>
	                    <p>• 관악산 관리사무소 (02-879-6561)</p>
	                </div>
	            </li>
	            <li>
	                <input type="checkbox" id="qna-3">
	                <label for="qna-3">서울 둘레길 완주인증서는 어디서 발급받을 수 있나요?</label>
	                <div>
						<br>
	                    <p>서울 둘레길 완주인증서는 '서울둘레길 창포원 안내센터'와 '서울둘레길 양재 안내센터'에서 발급받을 수 있습니다. (2022년 기준)</p>
	                </div>
	            </li>
	        </ul>
		</div>
		<br><br><br><br><br><br><br><br>
</div>

</html>