<html layout:decorate="~{layout}">
<div layout:fragment="content" class="logincontainer">

	<div class="sociallogin">
    	<a href="/oauth2/authorization/kakao">
    		<img th:src="@{/img/sociallogin/kakao_login.png}"
    			 class="img-responsive"
    			 alt="..."/>
    	</a>
	</div>
	
	<div class="sociallogin">
    	<a href="/oauth2/authorization/naver">
    		<img th:src="@{/img/sociallogin/naver_login.png}"
    			 class="img-responsive"
    			 alt="..."/>
    	</a>
	</div>
	
	<div class="sociallogin">
    	<a href="/oauth2/authorization/google">
    		<img th:src="@{/img/sociallogin/google_login.png}"
    			 class="img-responsive"
    			 alt="..."/>
    	</a>
	</div>
</div>
</html>