<div th:fragment="navbarFragment" class="navbar" 
	style="background-color:#1ABC9C;
		   display:flex;
		   justify-content:center;
		   ">

<div>

	<ul class="nav" style="display:flex; align-items:center; flex-wrap:wrap;">

		<li class="nav-item">
			<a class="nav-link" th:href="@{/home/introduce}">둘레길 안내</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" th:href="@{/home/course}">둘레길 코스 </a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" th:href="@{/recommendcourse}">추천 코스</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#">게시판</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link"  th:href="@{/other}">그밖의 길</a>
		</li>
	
	</ul>
</div>

</div>