<html layout:decorate="~{layout}">
<div layout:fragment="content" class="rcmcontainer">

	<div class="rcmcard">
		<div class="divmp">
			<p class="rcmdardtitle">커플코스</p>
		</div>
		<img th:src="@{/img/rcmcourse/couplecourse.jpg}" class="rcmcardimg" alt="...">
	</div>
	
	
	<div class="rcmcard">
		<div class="divmp">
			<p class="rcmdardtitle">가족코스</p>
		</div>
		<img th:src="@{/img/rcmcourse/famillycourse.jpg}" class="rcmcardimg" alt="...">
	</div>
	
	<div class="rcmcard">
		<div class="divmp">
			<p class="rcmdardtitle">맛집코스</h5>
		</div>
		<img th:src="@{/img/rcmcourse/eatcourse2.jpg}" class="rcmcardimg" alt="...">
	</div>

	<div class="rcmcard">
		<div class="divmp">
			<p class="rcmdardtitle">자연코스</h5>
		</div>
		<img th:src="@{/img/rcmcourse/naturecourse.jpg}" class="rcmcardimg" alt="...">
	</div>	

</div>
</html>